#first {
    background-color: rgb(207, 204, 204);
    width: 80%;
    height: 200px;
    margin: auto;
}
#second {
    background-color: gold;
    width: 76%;
    height: 60px;
    margin: auto;
    position: relative;
    bottom: 180px;
}
.menu {
    width: 80px;
    height: 40px;
    text-align: center;
}
#home {
    background-color: rgb(207, 204, 204);
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
}
#menu1 {
    background-color: gold;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 100px;
}
#menu2 {
    background-color: rgb(207, 204, 204);
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 200px;
}
#menu3 {
    background-color: gold;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 300px;
}
.submenu {
    width: 250px;
    height: 40px;
    text-indent: 15px;
}
#sub1 {
    background-color: white;
    position: absolute;
    left: 200px;
    top: 50px;
}
#sub2 {
    background-color: rgb(207, 204, 204);
    position: absolute;
    left: 200px;
    top: 90px;
}
#sub3 {
    background-color: white;
    position: absolute;
    left: 200px;
    top: 130px;
}