<!DOCTYPE html>
<html>
<head>
    <title> Advanced positioning </title>
    <link rel="stylesheet" href="./advanced.css">
</head>
<body>
    <div id="first"></div>
    <div id="second">
        <div class ="menu" id="home"> Home </div>
        <div class ="menu" id="menu1"> Menu 1 </div>
        <div class ="menu" id="menu2"> Menu 2 </div>
        <div class ="menu" id="menu3"> Menu 3 </div>
        <div class="submenu" id="sub1"> Sub Menu 1 </div>
        <div class="submenu" id="sub2"> Sub Menu 2 </div>
        <div class="submenu" id="sub3"> Sub Menu 3 </div>
    </div>
</body>
</html>