body {
    background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20210101/pngtree-double-row-tree-path-with-yellow-deciduous-autumn-leaves-image_519106.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat; 
    background-position: center right;
    background-attachment: fixed;
    background-size: cover;
    
}